.containerRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  padding-top: 60px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color2);
}

.back {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.back p {
  color: #cac8c8;
  font-family: "Arboria";
  font-style: normal;
  font-weight: 325;
  font-size: 14px;
  line-height: 129.52%;
  letter-spacing: -0.3px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin-bottom: 100px;
}

.containerForm {
  width: 50%;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 20px;
}

.containerInputDate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  border-radius: 5px;
  margin-bottom: 19px;
  height: 42px;
  padding: 11px 13px 11px 13px;
}

.date {
  color: #9e9d9d;
  border: none;
  background-color: white;
  width: 100%;
}

.containerInputDate h6 {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 325;
  font-size: 16px;
  color: #9e9d9d;
}

.containerInputSexo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  border-radius: 5px;
  margin-bottom: 19px;
  height: 42px;
  padding: 11px 13px 11px 13px;
}

.containerInputSexo h6 {
  margin-top: 6px;
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 325;
  font-size: 16px;
  color: #9e9d9d;
}
.sexo {
  color: #9e9d9d;
  height: auto;
  width: 100%;
  border: none;
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 325;
}

.sexo:focus {
  outline: none;
}

.form ::placeholder {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 325;
  /* font-size: 14px; */
  font-size: 12px;
}

.containerRegister h4 {
  margin: 0px auto 45px 0px;
  font-size: 24px;
  font-family: "Arboria";
  line-height: 28px;
  letter-spacing: -0.3px;
}

.containerInput {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 5px;
  margin-bottom: 19px;
  height: 42px;
  padding: 11px 13px 11px 13px;
}

.containerInput img {
  width: 18px;
  height: 20px;
}

.containerInput input {
  gap: 10px;
  width: 97%;
  background: white;
  border: none;
}

.containerButton button {
  margin: 15px 0px 31px 0px;
  color: white;
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 42px;
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 158.02%;
  letter-spacing: -0.3px;
  background: var(--button-color);
}

.containerButton button:hover {
  background: var(--hover-color);
}

.politic p {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 325;
  font-size: 14px;
  line-height: 158.5%;
  letter-spacing: -0.3px;
}

.politic b {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: var(--text-color);
  margin-left: 10px;
}

.error p {
  color: #e42530;
  font-family: "helvetica";
  font-style: normal;
  font-weight: 325;
  font-size: 14px;
}

@media screen and (max-width: 1350px) {
  .containerRegister {
    width: 80%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .form {
    width: 100%;
  }

  .back img {
    cursor: pointer;
    height: 12px;
    width: 12px;
  }

  .back p {
    color: #cac8c8;
    font-style: normal;
    font-weight: 325;
    font-size: 12px;
    line-height: 129.52%;
    letter-spacing: -0.3px;
    cursor: pointer;
  }
  .containerForm {
    width: 100%;
  }

  .form ::placeholder {
    font-family: "GothamBook";
    font-style: normal;
    font-weight: 325;
    font-size: 12px;
  }

  .containerRegister h4 {
    margin: 10px auto 45px 0px;
    font-size: 24px;
    line-height: 26px;
  }
  .row {
    display: flex;
    gap: 10px;
  }

  .containerInputDate {
    width: 50%;
    background: white;
    border-radius: 5px;
    margin-bottom: 19px;
    height: 42px;
    padding: 7px 5px 7px 5px;
  }

  .containerInputSexo {
    width: 50%;
  }

  .date {
    border: none;
    width: 100%;
  }

  .containerInputDate h6 {
    display: none;
  }

  .sexo {
    height: auto;
    width: 100%;
    border: none;
  }
}
