.containerTrailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--bg-color);
}

.containerImg {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.containerImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.9);
}

@media screen and (max-width: 950px) {
  .containerTrailer {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 2000px) {
  .containerTrailer {
    width: 100%;
    height: 100%;
  }
}
