.containerWelcome {
  height: 80vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 70%;
  padding: 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 42px;
}
.welcome h2 {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 20px;
}

.welcome hr {
  border: 1px solid white;
  width: 90%;
}

@media screen and (max-width: 800px) {
  .containerWelcome {
    width: 90%;
  }

  .welcome {
    width: 90%;
  }

  .welcome h1 {
    font-size: 30px;
  }

  .welcome h2 {
    font-size: 18px;
    line-height: 22px;
  }

  .welcome img {
    height: 100px;
    width: 100px;
  }
}
